DATABASE_URL=

CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_SECURE=false
MINIO_REPORTS_BUCKET=reports
MINIO_IMPORTS_BUCKET=imports
MINIO_EXPORTS_BUCKET=exports
