**/pycache
__pycache__/

**/.venv
**/venv

**/.devcontainer

**/.pycharm
**/.idea

**.log
.log.

**.pckl

.test

**.csv
**.xls
**.xlsx

**.json
**.html

**/.ipynb_checkpoints
**/.ipynb
**.ipynb

**.cfg

**.png
**.jpg

**.bin
**.npy
**.state
**.bin.state
**.id2word
**.bin.id2word
**.pkl

/temp

.env.local
.env.prod
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.docker_data

/alembic/versions/*
